body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #FAF0E6;
  }
  
  .hero__container {
    padding:  5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn__container {
    display: flex;
    flex-direction: row;
    
  }
  .sell-btn,
  .shop-btn {
    display: inline-block;
    padding: 10px 0;
    margin-right: 10px;
    text-align: center;
    width: 145px;
    outline: none;
    color: #f7f7f7;
    border: 1px solid transparent;
    border-radius: 3%;
    text-decoration: none;
  }
  
  .sell-btn {
    background-color: #2E8B57;
  }
  
  .sell-btn:hover {
    border: 1px solid #2E8B57;
    color: #2E8B57;
    background-color: transparent;
    text-decoration: none;
  }
  
  .shop-btn {
    background-color: #4169E1;
  }
  
  .shop-btn:hover {
    border: 1px solid #4169E1;
    color: #4169E1;
    background-color: transparent;
    text-decoration: none;
  
  }
  
  .navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.75rem;
    color: #000000;
  }

  
  .slider_img-box {
    /* width: 95%; */
    margin: 0 auto;
  }
  
  .slider_img-box img {
    margin-top:7.5%;
    width: 65%;
    border-radius: 2%;
  }
    
  .slider_item-detail {

  }
  .slider_item-detail h1 {
    font-weight: 700;
    font-size: 50px;
  }
  
  